dat
!dat/lya/DR14_pm3d_19kbins.txt
!dat/des
!dat/COM_PowerSpect_CMB_R2.02.fits
!dat/plik_lite_v18_TTTEEE.clik
!dat/planck_lensing_2018/smicadx12_Dec5_ftl_mv2_ndclpp_p_teb_agr2_bandpowers.dat
notebooks
!notebooks/mpk_compilation.ipynb
!notebooks/dat
